<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plataformaescolar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlataformaEscolar">
        <activity android:name=".modules.DatosInscripcion"></activity>
        <activity android:name=".clases.activities.EleccionActivity" />
        <activity android:name=".clases.Eleccion_Verano" />
        <activity android:name=".modules.Residencia" />
        <activity android:name=".modules.Reinscripcion" />
        <activity android:name=".clases.activities.DatosPersonalesActivity" />
        <activity android:name=".clases.activities.ReticulaActivity" />
        <activity android:name=".clases.activities.HorarioActivity" />
        <activity android:name=".clases.activities.CalificacionesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".clases.activities.SignInActivity" />
        <activity android:name=".clases.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>